<div class="jumbotron center">
	<h1>Welcome to Yay2Gay!</h1>
	<p>Yay2Gay stands for equal rights for everyone.</p>  
	<%= link_to "Join the movement and spread the word!", "#", class: "btn btn-primary btn-lg btn-block" %><br>

    <% if @blogs.any? %>
      <%= render 'pages/blog_overview' %>
	<% end %>

</div>